.parent {
  position: relative;
  height: 960px;
  background-color: #0392B2;
}
.content {
	
	/*height: 600px;
	width: 600px;*/
	
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loginFormElements{

}

.login_labels{

	color: white;
}