<div class="content">
	<div id="form_wrapper" class="form_wrapper" style="width: 300px; height: 317px; display: block;">
		<form class="forgot_password active">
			<h3>Forgot Password</h3>
			<div>
				<label>Username or Email:</label>
				<input type="text" />
				<span class="error">This is an error</span>
			</div>
			<div class="bottom">
				<input type="submit" value="Send reminder"></input>
				<a href="/#/login" rel="login" class="linkform">Suddenly remebered? Log in here</a>
				<a href="/#/signup" rel="register" class="linkform">You don't have an account? Register here</a>
				<div class="clear"></div>
			</div>
		</form>
	</div>
	<div class="clear"></div>
</div>