<div class="content">
	<div id="form_wrapper" class="form_wrapper" style="width: 350px; height: 349px; display: block;">
		
		<form class="login active">
			<h3>Login</h3>
			<div>
				<label>Username:</label>
				<input type="text" />
				<!-- <span class="error">This is an error</span> -->
			</div>
			<div>
				<label>Password: <a href="/#/forgot_password" rel="forgot_password" class="forgot linkform">Forgot your password?</a></label>
				<input type="password" />
				<!-- <span class="error">This is an error</span> -->
			</div>
			<div class="bottom">
				<div class="remember"><input type="checkbox" /><span>Keep me logged in</span></div>
				<input type="submit" value="Login"></input>
				<a href="/#/signup" rel="register" class="linkform">You don't have an account yet? Register here</a>
				<div class="clear"></div>
			</div>
		</form>
		
	</div>
	<div class="clear"></div>
</div>